<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Doctor Directory</title>
</head>

<body>

<div class="container">

	<h3>Doctor Directory</h3>
	<hr>




	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Doctor Name</th>
				<th>Specialization</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="tempDoctor : ${doctors}">

				<td th:text="${tempDoctor.doctorName}" />
				<td th:text="${tempDoctor.specialization}" />

				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/doctors/showFormForUpdateNa(doctorId=${tempDoctor.id})}"
					   class="btn btn-info btn-sm">
						Update
					</a>

					<a th:href="@{/doctors/viewPatients(doctorId=${tempDoctor.id})}"
					   class="btn btn-info btn-sm">
						ViewPatients
					</a>


				</td>


			</tr>
		</tbody>
	</table>

</div>
<a href="/">Go to Home Page</a>
</body>
</html>



